.passed {
    text-align: center;
    font-size: 25px;
    letter-spacing:2px;
    font-weight:600;
    line-height:60px;
    margin-top: 30px;
}

.form-box {
    font-size: 20px;
    text-decoration: none;
    letter-spacing:2px;
    font-weight:500;
    line-height:40px;
}

button {
    margin: 30px auto;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 20px;
    display: inline-block;
    padding: 15px 25px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1rem;
    color: #333;
    border-radius: 0.7rem;
}
  
button:hover {
    color:#000;
    background:#DCED99;
}

.failure {
    text-align: center;
    font-size: 25px;
    letter-spacing:2px;
    font-weight:600;
}

header{
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(235, 120, 221, 0.5) 40px);
      border-bottom-style:inset;
      border-width:1px;
      border-color:rgb(227, 235, 235);
      height:80px;
}
footer{
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.5), rgba(235, 120, 221, 0.5) 40px);
      border-top-style:inset;
      border-width:1px;
      border-color:rgb(227, 235, 235);
      height:80px;
}